* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.left {
    background-color: white;
    margin: 50px auto;
    max-width: 1000px;
    
    box-sizing: border-box;
}
.container {
    display: flex;
    padding: 25px 100px;
}
.boxx {
    width: 400px;
}
.boxx p {
    margin: 20px 0px;
    font-size: 13px;
}

#container2 {
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 5px;
}
#E-mail {
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
    box-sizing: border-box;
}
#MASSAGE {
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
    box-sizing: border-box;
}
#btn {
    background-color: rgb(0, 255, 170);
    color: black;
    height: 32px;
    width: 75px;
    border: 1px solid black;;
    border-radius: 5px;
    outline: none;
    float: right;
    color: white;
}
#btn:hover {
    background-color: rgb(20, 203, 209);
    
}
/*-----2right side-----*/
.container2 {
    margin-left: 100px;
    width: 400px;
}
.container2 p {
    margin: 20px 0px 30px 0px;
    font-size: 13px;
}
.boxx2 p {
    font-weight: 800;
    font-size: 12px;
    margin: 5px;
}
hr {
    margin: 20px 0px 40px 0px;
}
.boxx2 h3 {
    margin-bottom: 5px;
}
.socialsec {
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    flex-direction: row;
    
}
.socialsec a {
    width: 100px;
    background-color: white;
    margin: none;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
}
a:hover {
    color: linen;
    background-color: rgb(12, 8, 8);
}

#name{
    width: 70%;
    padding:10px;
    box-sizing: border-box;
    float: left;
}